<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="box">
          <h3>Fale conosco</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" id="white">
        <div class="box">
          <div class="info">
            <p>
              Av. Dom José Gaspar, 500 - Coração Eucarístico - Belo Horizonte - MG
            </p>
            <p>
              <span>CEP:</span> 30535-901
            </p>
            <p>
              <span>Telefone:</span> (31) 3319-4157
            </p>
            <p>
              <span>Email:</span>
              <a href="mailto:ciencias@pucminas.br">ciencias@pucminas.br</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
