<div class="container internas black">
  <div class="row align-items-center justify-content-center">
    <div class="col-xs-12 col-md-4">
      <div class="internas__onca-container d-flex justify-content-center">
        <img class="img-fluid internas__onca" [src]="oncaXS" alt="">
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <figure class="internas__title">
        <svg class="internas__title-brasao">
          <use attr.xlink:href="{{brasaoBranco}}"></use>
        </svg>
        <div class="internas__title-text">
          <a href="#" class="internas__title-text--link">
            Curso de
            <br> Ciências Biológicas
          </a>
        </div>
      </figure>
    </div>
  </div>
</div>
